DJANGO_SECRET_KEY=mysecretkey
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

REDIS_URL=redis://redis:6379/0

POSTGRES_DB=argo_db
POSTGRES_USER=argo_user
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=localhost
POSTGRES_PORT=6432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/spotify/callback

# for docker-compose
EXTERNAL_POSTGRES_HOST=localhost
EXTERNAL_POSTGRES_PORT=6432
EXTERNAL_REDIS_PORT=6479

# Generate using `python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"`
FERNET_KEY=